@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 min-h-screen;
}

html.dark body {
  @apply bg-gray-900;
}

/* Dark mode base styles */
html.dark {
  color-scheme: dark;
}
